<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" scope="prototype" class="com.zgc.dao.impl.UserDaoImpl">

    </bean>

    <bean id="user" class="com.zgc.domain.User"></bean>
    <bean id="user2" class="com.zgc.domain.User"></bean>

    <bean class="com.zgc.service.impl.UserServiceImpl" id="userService">
        <property name="userDao" ref="userDao"></property>
        <property name="userList">
            <map>
                <entry key="user" value-ref="user"></entry>

                <entry key="user2" value-ref="user2"></entry>
            </map>
        </property>
    </bean>
</beans>